/***************************************variables****************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --black-color: #463f3a; /* use :  var(--black-color); */
  --greyhot-color: #8a817c; /* use :  var(--greyhot-color); */
  --greycold-color: #bcb8b1; /* use :  var(--greycold-color); */
  --white-color: #f4f3ee; /* use :  var(--white-color); */
  --yellow-color: #f5cb5c; /* use :  var(--yellow-color); */
}

/******************************************General****************************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin: 0.5em 2em;
}

nav {
  width: 100%;
  background-color: var(--yellow-color);
  height: 4rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#homeAndAbout {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
#homeAndAbout a {
  color: #191919;
}
#nav-all ul,
#nav-all a {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 1rem;
  color: #191919;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#sign,
#log {
  padding: 1.3em 10em;
  margin: 1.2em;
  border: none;
  background-color: #f6bd60;
}

#nav-all a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  display: inline-block;
  color: white;
  padding: 10px;
}

#nav-all a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;

  transition: transform 0.25s ease-out;
}

#nav-all a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/******************************************SIGNUP****************************************************************/

#signup {
  background-color: var(--yellow-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
