/***************************************variables****************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --black-color: #242423; /* use :  var(--black-color); */
  --greyhot-color: #8a817c; /* use :  var(--greyhot-color); */
  --greycold-color: #bcb8b1; /* use :  var(--greycold-color); */
  --white-color: #f4f3ee; /* use :  var(--white-color); */
  --yellow-color: #f5cb5c; /* use :  var(--yellow-color); */
}

/******************************************General****************************************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Roboto", sans-serif;

  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin: 0.5em 2em;
}

/************************************************ NAV ******************************************************/

nav {
  width: 100%;
  background-color: var(--black-color);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-all ul,
#nav-all a {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 1rem;
  color: #191919;
}

#nav-all a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  display: inline-block;
  color: white;
  padding: 10px;
}

#nav-all a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;

  transition: transform 0.25s ease-out;
}

#nav-all a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#home img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

#home img:hover {
  cursor: pointer;
}

/************************************************ INDEX ******************************************************/
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.container-title {
  display: flex;
  justify-content: center;
}
.title-home {
  background-image: linear-gradient(120deg, #f5cb5c, #f5cb5c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
  width: 20%;
  text-align: center;
}
.title-home:hover {
  background-size: 100% 88% !important;
}

.container-home {
  background-image: url("../images/Blanc\ Élégant\ et\ Simple\ Général\ Photographie\ Site\ Web\ \(1\).png");
  background-size: cover;
  height: 44em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  opacity: 0;
  animation: new-item-animation 0.6s linear forwards;
}

.index-card img {
  max-width: 10vw;
  padding-top: 0.5em;
  width: 100%;
  border-radius: 50px;
}

.li {
  background-image: linear-gradient(120deg, #f5cb5c, #f5cb5c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#sign-btn {
  padding: 1.2em 12em;
  margin: 1.2em;
  background-color: var(--yellow-color);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 1.8em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
}
#log-btn {
  padding: 1.2em 12em;
  margin: 1.2em;
  background-color: #f4f3ee;
  cursor: pointer;
  border: solid;
  border-color: var(--yellow-color);
  border-radius: 6px;
  font-size: 1.8em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
}

.logged-msg {
  font-size: 3em;
  text-align: center;
  padding: 0.7em;
  opacity: 0;
  animation: new-item-animation 0.6s linear forwards;
  animation-delay: 0.1s;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logged-msg span {
  color: var(--greyhot-color);
}

.display-info {
  background-color: var(--greycold-color);
}

h3 {
  text-align: center;
  opacity: 0;
  animation: new-item-animation 0.7s linear forwards;
  animation-delay: 0.2s;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .index-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  opacity: 0;
  animation: new-item-animation 0.8s linear forwards;
  animation-delay: 0.3s;
} */

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container-resume {
  display: flex;
  justify-content: center;
}

.match-card .img-resume {
  width: 100%;
  height: 80%;
  object-fit: cover;
  pointer-events: none;
}

/**************************************ABOUT**************************************************/

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 0;
  opacity: 0;
  animation: new-item-animation 0.8s linear forwards;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.about h2 {
  font-size: 5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-word {
  padding-right: 30px;
  color: var(--white-color);
}

#match-word {
  color: var(--yellow-color);
}

#eat-word {
  color: var(--yellow-color);
}

#container-about {
  background-color: var(--black-color);
  height: 30em;
  width: 90%;
  border-radius: 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
}

#about-bottom {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

#about-bottom p {
  padding: 2em 8em;
  margin: 0.5em;
}

#join-p {
  text-align: center;
  width: 50%;
  background-color: var(--yellow-color);
  border-radius: 3px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
}

#log-p {
  text-align: center;
  width: 50%;
  background-color: var(--white-color);
  border: solid 2px var(--yellow-color);
  border-radius: 3px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
}

.log {
  outline: none;
  text-decoration: none;
  color: var(--black-color);
}

.about2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em 0;
  opacity: 0;
  height: 30em;
  animation: new-item-animation 0.8s linear forwards;
}

#why-matcheat {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 70px;
  width: 50%;
  height: 100%;
  background-image: url("../images/Why.png");
  background-size: cover;
  /* background-color: var(--yellow-color); */
  border-radius: 10px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
}

.about-text {
  height: 20em;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text p {
  background-color: var(--white-color);
  height: 10em;
  position: fixed;
  margin-left: 700px;
  display: flex;
  padding: 50px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.about3 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 1em 0;
  opacity: 0;
  height: 30em;
  animation: new-item-animation 0.8s linear forwards;
}

#how-matcheat {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-right: 70px;
  width: 50%;
  height: 100%;
  background-image: url("../images/Work.png");
  background-size: cover;
  /* background-color: var(--yellow-color); */
  border-radius: 10px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
}

.about-text2 {
  height: 20em;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text2 p {
  background-color: var(--white-color);
  height: 10em;
  position: fixed;
  margin-right: 700px;
  display: flex;
  padding: 50px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
}

/******************************************SIGNUP****************************************************************/

#signup {
  background-color: var(--white-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dc402d794372b62f1c79dc485872639e.png");
  background-size: contain;
}

#signup h2 {
  color: var(--black-color);
  font-size: 3em;
  padding: 20px;
  background-image: linear-gradient(120deg, #f5cb5c, #f5cb5c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
}

#signup h2:hover {
  background-size: 100% 88% !important;
}

.container-signup {
  background-color: var(--greycold-color);

  height: 70%;
  width: 40%;
  border-radius: 10px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.label {
  height: 40%;
  width: 80%;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 20px;
  box-shadow: 2px 22px 2px rgba(0, 0, 0, 0.32);
}

.label input {
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}

.container-signup button {
  width: 30%;
  height: 10%;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.container-signup button:hover {
  cursor: pointer;
}

/******************************************LOGIN****************************************************************/

#login {
  background-color: var(--white-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dc402d794372b62f1c79dc485872639e.png");
  background-size: contain;
}

#login h2 {
  color: var(--black-color);
  font-size: 3em;
  padding: 20px;
  color: var(--black-color);
  font-size: 3em;
  padding: 20px;
  background-image: linear-gradient(120deg, #f5cb5c, #f5cb5c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
}

#login h2:hover {
  background-size: 100% 88% !important;
}

.container-login {
  background-color: var(--greycold-color);

  height: 70%;
  width: 40%;
  border-radius: 10px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.label {
  height: 10%;
  width: 80%;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 20px;
  box-shadow: 2px 22px 2px rgba(0, 0, 0, 0.32);
}

.label input {
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}

.container-login button {
  width: 30%;
  height: 10%;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.container-login button:hover {
  cursor: pointer;
}

/****************************MATCH CARD*************************/
/* DESIGN TEMPO, A DECIDER */

/* start swipe css here*/
.match-zone {
  width: 100vw;
  height: calc(100vh - 4rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.match-zone {
  opacity: 1;
}

.swipe-status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.swipe-status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.swipe_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.swipe_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.container-card {
  margin-top: 2em; /*our css add*/
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.match-card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: calc(70vh - 4rem);
  background-color: var(--white-color); /*our css add*/
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58); /*our css add*/
  border-radius: 10px; /*our css add*/
}

.moving.match-card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.match-card img {
  max-width: 100%;
  height: 80%;
  object-fit: cover;
  pointer-events: none;
}

.username {
  padding: 10px;
}

#username {
  background-image: linear-gradient(120deg, #f5cb5c, #f5cb5c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
  font-size: 30px;
}

.match-card li {
  list-style: none;
  pointer-events: none;
  color: var(--black-color);
}
.match-card ul {
  pointer-events: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.match-card ul li {
  font-size: 16px;
  color: var(--black-color);
  gap: 5px;
}

.buttonMatchPage {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.buttonMatchPage button {
  border-radius: 50%;
  line-height: 60px;
  border: 0;
  background-color: var(--white-color);
  display: inline-block;
  margin: 0 8px;
}

.buttonMatchPage button:focus {
  outline: 0;
}

.buttonMatchPage i {
  font-size: 80px;
  vertical-align: middle;
}

/********    Here    *****************/
.fa-heart {
  color: var(--yellow-color);
}

.fa-remove {
  color: var(--black-color);
}

/* end swipe css*/

#matchBtn,
#nextBtn {
  padding: 0.5em 0.7em;
  margin: 0.8em;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 1.5em;
}

/**************************************PROFIL**************************************************/

#profil {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dc402d794372b62f1c79dc485872639e.png");
  background-size: contain;
  padding: 10px;
}

.container-profil {
  background-color: var(--greycold-color);
  height: 70%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px;
}

#profil .label-profil {
  width: 80%;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 20px;
}

#profil .label-profil input {
  height: 100%;
  width: 100%;
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.38);
}

.container-profil button {
  height: 2rem;
  width: 30%;
  background-color: var(--yellow-color);
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.container-profil button:hover {
  cursor: pointer;
}

#profil img {
  max-width: 100px;
  min-width: 100px;
  border-radius: 50px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
}

.your-profil {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80%;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.your-profil p {
  color: var(--black-color);
  font-size: 2rem;
}

.your-profil p {
  background-image: linear-gradient(120deg, #f5cb5c, #f5cb5c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
}

.your-profil span {
  color: var(--black-color);
  font-size: 3rem;
}

.your-profil p:hover {
  background-size: 100% 88% !important;
}

.container-phone {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.container-phone #prefix {
  width: 10%;
}

.container-phone #number {
  width: 80%;
}

.delete {
  display: flex;
  justify-content: center;
}

/******************************************DELETE****************************************************************/

#delete {
  background-color: var(--white-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dc402d794372b62f1c79dc485872639e.png");
  background-size: contain;
}

.delete {
  background-color: var(--greycold-color);

  height: 70%;
  width: 40%;
  border-radius: 10px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.delete button {
  width: 30%;
  height: 10%;
  background-color: red;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.delete p {
  text-align: center;
  padding: 20px;
}

.delete img {
  height: 100px;
}

.delete button:hover {
  cursor: pointer;
}

/******************************************ALLMATCH****************************************************************/

.matchCard {
  justify-content: space-between;
  width: 90vw;
  max-width: 400px;
  height: calc(70vh - 4rem);
  background-color: var(--white-color); /*our css add*/
  border-radius: 8px;
  box-shadow: 3px 2px 22px 2px rgba(0, 0, 0, 0.58); /*our css add*/
  border-radius: 10px; /*our css add*/
  margin-bottom: 100px;
}

.matchCard img {
  max-width: 100%;
  max-height: 80%;
  object-fit: cover;
}

.container-img-allmatch {
  max-width: 100%;
}

.container-matchCard {
  margin-top: 2em; /*our css add*/
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: flex-end;
}

.matchmeal {
  font-size: 16px;
  background-image: linear-gradient(120deg, #f5cb5c, #f5cb5c 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  text-align: center;
}
