<form id="login" action="/login" method="POST">

  <div class="container-login">
    <h2>Log In</h2>
    
    <div class="label">
      <input
        type="text"
        id="usernameOrEmail"
        name="usernameOrEmail"
        placeholder="Username or Email"
      />
    </div>
    
    <div class="label">

      <input type="text" id="password" name="password" placeholder="password" />
    </div>
    <button>Login</button>
    <p>No account yet? <a href="/auth/signin">Signin</a></p>
  </div>
  
</form>