<form id="signup" action="/signup" method="POST">
  <div class="container-signup">
    <h2>Sign Up</h2>
    <div class="label">

      <input
        type="text"
        id="username-signup"
        name="username"
        placeholder="Username"
      />
    </div>

    <div class="label">

      <input
        type="email"
        id="email"
        name="email"
        placeholder="Exemple@email.com"
      />
    </div>

    <div class="label">

      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>

    <button>Sign Up</button>

    <p>Already have an account? <a href="/auth/login">Login</a></p>
  </div>
</form>