<form action="/auth/signup" method="POST">
  <div>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" placeholder="username" />
  </div>

  <div>
    <label for="email">Email: </label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="exemple@email.com"
    />
  </div>

  <div>
    <label for="password">Password: </label>
    <input type="text" id="password" name="password" placeholder="password" />
  </div>
  <button>Sign Up</button>

  <p>Already have an account? <a href="/auth/login">Login</a></p>

</form>