<div class="about">
  <div id="container-about">
    <h2 id="about-title">
      <span id="about-word">About</span></h2>
    <img src="/images/logo.png" alt="" />
    <h2 id="about-title">

      <span id="match-word">Match</span><span id="eat-word">Eat</span></h2>

  </div>
</div>

<div class="about2">
  <section id="why-matcheat">

    <div class="about-text">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
        veritatis exercitationem officia hic sed quisquam, impedit eaque
        obcaecati eveniet beatae eos sequi quod maxime iure vitae dolores ipsam
        aliquam excepturi.</p>
    </div>
  </section>
</div>

<div class="about3">
  <section id="how-matcheat">

    <div class="about-text2">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
        veritatis exercitationem officia hic sed quisquam, impedit eaque
        obcaecati eveniet beatae eos sequi quod maxime iure vitae dolores ipsam
        aliquam excepturi.</p>
    </div>
  </section>
</div>
{{! <div id="about-bottom">
    <p id="join-p">Join us now: <a href="/auth/signup">Signup</a></p>
    <p id="log-p">Log in if you're already a member:
      <a href="/auth/login">Login</a></p>
  </div> }}