<div class="about">
  <div id="container-about">

    <h2 id="about-title">About
      <span id="match-word">Match</span><span id="eat-word">Eat</span></h2>

    <div id="about-text">
      <p>
        MatchEat purpose is to help anyone meet and eat with new people.
      </p>
      <p>
        Up for a meal with a stranger? Sign up now, and join our community!
      </p>
      <p>
        A friend for a day, a friend for life, or your choosen one, who knows
        what is waiting for you!
      </p>
    </div>

    <div id="about-bottom">
      <p id="join-p">Join us now: <a href="/auth/signup">Signup</a></p>
      <p id="log-p">Log in if you're already a member:
        <a href="/auth/login">Login</a></p>
    </div>

  </div>
</div>