<h2>About MatchEat</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia
  porro, fuga vitae veritatis, laboriosam voluptatibus cumque totam voluptatem
  magnam maiores perspiciatis modi molestiae a similique et officiis officia
  placeat!</p>

<p>Join us now :<a href="/auth/signup">Signup</a></p>
<p>Log in if you're already a member :<a href="/auth/login">Login</a></p>