<h1 id="about-title">About MatchEat</h1>

<h2 id="about-sub">Welcome to MatchEat!</h2>
<div id="about-text">
  <p>
    MatchEat purpose is to help people meet and eat with new people.
  </p>
  <p>
    Up for a meal with a stranger? Sign up now, and join our community! A friend
    for a day, a friend for life, or your choosen one, who knows what is waiting
    for you!
  </p>
</div>

<p>Join us now :<a href="/auth/signup">Signup</a></p>

<p>Log in if you're already a member :<a href="/auth/login">Login</a></p>