<div class="about">
  <div id="container-about">
    <h2 id="about-title">
      <span id="about-word">About</span></h2>
    <img src="/images/logo.png" alt="" />
    <h2 id="about-title">

      <span id="match-word">Match</span><span id="eat-word">Eat</span></h2>

  </div>
</div>

<div class="about2">
  <section id="why-matcheat">

    <div class="about-text">
      <p>
        MatchEat is a meeting/lunch-buddy app made for the people that want to
        spice their life a little. Bounding around a meal is the best way to
        learn more about your "matchee", thus we decided to dedicate our app to
        this simple, but efficient meeting concept. MatchEat can be used to make
        new acquaintances, eat-buddy, friends or lover.
      </p>
    </div>
  </section>
</div>

<div class="about3">
  <section id="how-matcheat">

    <div class="about-text2">
      <p>
        MatchEat work on a two-way "aggreement". The idea is pretty simple, one
        user just have to swipe right on every profile that please them. Every
        time one of the "liked" user come accross their profile and swipe right
        too, boom! A new meeting has just been created! Now they just have to
        get in touch together, set an appointment, become lunch-buddy and maybe
        more!</p>
    </div>
  </section>
</div>
<div id="about-bottom">

  <p id="join-p"><a class="log" href="/auth/signup">JOIN US NOW</a></p>

  <p id="log-p"><a class="log" href="/auth/login">LOG IN IF YOU'RE ALREADY A
      MEMBER</a></p>
</div>