<h2>About MatchEat</h2>

<p>Welcome to MatchEat!</p>
<p>
  MatchEat purpose is to help people meet and eat with new people. Up for a meal
  with a stranger? Sign up now, and join our community! A friend for a day, a
  friend for life, or your choosen one, who knows what is waiting for you!
</p>

<p>Join us now :<a href="/auth/signup">Signup</a></p>

<p>Log in if you're already a member :<a href="/auth/login">Login</a></p>