<ul>
  <div class="container-matchCard">
    {{#each allMatchs}}

      <div class="matchCard">
        <div>
          {{#each this.users}}
            {{#if this.isNotMe}}
              <div>
                <div class="container-img-allmatch">
                  <picture>
                    <img src="{{this.image.url}}" alt="no picture" />
                  </picture></div>
                <p class="matchmeal">
                  Congrats ! You have a match meal with :
                </p>
                <div class="container-text-allmatch">
                  <p>
                    {{this.username}}
                  </p>
                  <p>{{this.firstName}} <span>|</span> {{this.lastName}}</p>

                </div>
                <div>
                  <p>
                    Let's meet and eat at Caffé Shop
                  </p>
                  <p>
                    215bis Bd Voltaire, 75011 Paris
                  </p>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>

    {{/each}}
  </div>
</ul>