<ul>
  {{#each allMatchs}}
    <div class="matchCard">
      <div>
        {{#each this.users}}
          {{#if this.isNotMe}}
            <div>
              <picture>
                <img src="{{this.image.url}}" alt="no picture" />
              </picture>
              <p>
                Username:
                {{this.username}}
                First name:
                {{this.firstName}}
                Last name:{{this.lastName}}
              </p>
              <div>
                <p>
                  Location Name
                </p>
                <p>
                  Location Address
                </p>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</ul>