<form id="delete" action="/delete" method="POST">
  <div class="delete">
    <img src="../images/warning.png" alt="" />
    <p>If you want to delete your MatchEat account you can click on the button.
      All your information will be deleted and your profile will no longer
      appear. Goodbye !</p>
    <button>Delete your account</button>
    <button><a href="/profile">Return on your profil</a></button>
  </div>
</form>