<form id="delete" action="/delete" method="POST">
  <div class="delete">
    <img src="../images/warning.png" alt="" />
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate
      soluta non nesciunt quos praesentium, illo, pariatur possimus voluptas,
      nulla aliquam consectetur! Iste ut, corporis modi unde voluptas dolores
      vero! Doloremque.</p>
    <button>Delete your account</button>
  </div>
</form>