<h1>{{appTitle}}</h1>
{{#if isLoggedIn}}
  <h2>Welcome <span class="username"> @{{currentUser.username}}</span> </h2>
{{/if}}

<div class="index">
  <div>
    <form action="/auth/signup">
      <button type="submit" id="sign">Signup</button>
    </form>
  </div>
  <form action="/auth/login">
    <button type="submit" id="log">Login</button>
  </form>
</div>

<form action=""></form>