<h1>Welcome to MatchEat!</h1>
<h2>Your journey begin here, signup now and meet new people!</h2>

<div class="index-btn">
  <button id="sign-btn">
    <a href="/auth/signup">Signup</a>
  </button>
  <button id="log-btn">
    <a href="/auth/login">Login</a>
  </button>
</div>