<h1>{{appTitle}}</h1>
{{#if isLoggedIn}}
  <h2>Welcome <span class="username"> @{{currentUser.username}}</span> </h2>
{{/if}}

<div class="index-btn">
  <button id="sign-btn">
    <a href="/auth/signup">Signup</a>
  </button>
  <button id="log-btn">
    <a href="/auth/login">Login</a>
  </button>
</div>