<div id="matchCard" class="match-zone">
  <div class="swipe-status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>
  <div id="matchCardContainer" class="container-card">
  </div>
  {{! Template for the cards  }}
  <template id="matchCardTemplate">
    <div class="match-card">
      <li class="username"><span id="username" class="card-data"></span>
      </li>
      <picture class="pic">
        <img src="" alt="no picture loaded" />

        <ul>

          <li class="name">

            <span class="first-name card-data"></span>
            <span class="last-name card-data"></span>
          </li>
          <li class="age">
            26 ans
            <span class="card-data"></span>
          </li>
          <li class="dates">

            <span class="card-data">
            </span>
          </li>

        </ul>
      </picture>

    </div>
  </template>
  <div class="buttonMatchPage">
    {{! <form action="/match" method="POST"> }}
    <button id="nextBtn">
      <i class="fa fa-remove"></i>

    </button>
    {{! </form> }}
    {{! <form action="/match" method="POST"> }}
    <button id="matchBtn">
      <i class="fa fa-heart"></i>

    </button>
    {{! </form> }}
  </div>
</div>