<div id="matchCard" class="match-zone">
  <section id="popupMeet" class="popup hidden">
    <div class="container-matchCard">
      <div class="matchCard-popup">
        <div>
          <div class="container-img-allmatch">
            <p class="matchmeal">
              YOU HAVE A MEAL !
            </p>
            <picture>
              <img id="image-popup" src="/images/2.png" alt="no picture" />
            </picture>
            <p><a href="/all-matchs">Let's go see them</a></p>
            <p><a href="/match">Continue to meet other people !</a></p></div>

        </div>
      </div>
    </div>
  </section>
  <div class="swipe-status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>
  <div id="matchCardContainer" class="container-card">
  </div>
  {{! Template for the cards  }}
  <template id="matchCardTemplate">
    <div class="match-card">
      <li class="username"><span id="username" class="card-data"></span>
      </li>
      <picture class="pic">
        <img src="" alt="no picture loaded" />

        <ul>

          <li class="name">

            <span class="first-name card-data"></span>
            <span class="last-name card-data"></span>
          </li>
          <li class="age">

            <span class="card-data"></span>
          </li>
          <li class="dates">

            <span class="card-data">
            </span>
          </li>

        </ul>
      </picture>

    </div>
  </template>
  <div class="buttonMatchPage">
    {{! <form action="/match" method="POST"> }}
    <button id="nextBtn">
      <i class="fa fa-remove"></i>

    </button>
    {{! </form> }}
    {{! <form action="/match" method="POST"> }}
    <button id="matchBtn">
      <i class="fa fa-heart"></i>

    </button>
    {{! </form> }}
  </div>

</div>