<form action="/profile" method="POST">

  <input type="text" name="username" placeholder="{{user.0.username}}" />

  <input type="text" name="email" placeholder="{{user.0.email}}" />

  <input type="text" name="firstName" placeholder="First Name" />

  <input type="text" name="lastName" placeholder="Last Name" />

  <input type="text" name="street" placeholder="Street" />

  <input type="text" name="city" placeholder="City" />

  <input type="text" name="postcode" placeholder="Post Code" />

  <input type="text" name="prefix" placeholder="Prefix" />

  <input type="text" name="number" placeholder="Number" />

  <input type="text" name="age" placeholder="Age" />

  {{! <input type="file" name="image" /> }}

  <button>Save</button>
</form>