<form method="post" action="/profile" enctype="multipart/form-data">
  <input type="file" name="picture" />
  <button>Upload</button>
</form>

<form action="/profile" method="GET">
  {{user}}
    <input type="text" name="username" placeholder="{{this.user.username}}" />

    <input type="text" name="firstName" placeholder="{{this.user.email}}" />

    <input type="number" name="age" placeholder="{{this.age}}" />
  {{}}
</form>